<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

  <!--共通Header-->
  <head th:replace="common/css_common :: css_common"></head>
  <!--個別Header-->
  <head>
     <title>403</title>
  </head>
  <body>
	<main class="container-md px-0">
      <center>
      		<br>
	      	<div id="msg" style="color:red;">
	      		<h2>アクセスしたページは閲覧することが許可されていません</h2>
	      		現在のログインユーザー権限ではこのページ(URL)を表示することができません。<br>
	      		恐れ入りますが、「戻る」ボタンよりお戻り下さい。
	      	</div>
	      	<br>
		    <div style="width:150px">
		   		<a class="btn btn-primary btn-block" href="/home" id="return">戻る</a>
	   		</div>
      </center>
    </main>

    <!-- フッター -->
	<foot th:replace="common/foot"></foot>
<!-- 	<script th:replace="common/script_common"></script> -->
  </body>
</html>
